.introduction {
    color: white;
    font-family: Montserrat;
    height: 100vh;
    background-image: url("../assets/images/earth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.introduction h1 {
    font-size: 60px;
}

.introduction p {
    font-size: 45px;
    width: 75%
}

.history {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.history img {
    width: 20rem;
    height: 20rem;
}

.history div {
    width: 20rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 10rem 5rem 0rem;
}

.history div:nth-of-type(2) {
    align-self: flex-start;
    padding-left: 10rem;
}