.introduction {
    color: white;
    height: 100vh;
    background-image: url("../assets/images/earth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.introduction h1 {
    font-size: 60px;
}

.introduction p {
    font-size: 45px;
    width: 75%;
}

.history {
    background-image: url("../assets/images/stars-1920x1080.jpg");
    height: 200vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.history img {
    width: 20rem;
}

.history div {
    width: 20rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 10rem 5rem 0rem;
}

.history div:nth-of-type(2) {
    align-self: flex-start;
    padding-left: 10rem;
}

.conclusion {
    color: white;
    height: 100vh;
    background-image: url("../assets/images/moon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 5rem; 
}

.conclusion .logos{
    display:flex;
    align-items: center;
}

.conclusion .logos div:first-of-type{
    padding-right: 2rem;
}

.conclusion img {
    width: 30rem;
}

.conclusion p{
    padding: 2rem 2rem;
    font-size: 30px;
}

.bar {
    border-left: 6px solid white;
    height: 250vh;
    position: absolute;
    left: 50%;
    top: 85%;
    margin-left: -3px;
}

.circle {
    background-color: white;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    top: 85%;
    margin-top: -1rem;
}

main .circle:nth-child(2) {
    top: 335vh;
}