/***** INTRODUCTION *****/
.introduction {
    color: white;
    height: 100vh;
    background-image: url("../assets/images/earth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.introduction h1 {
    font-size: 3.75rem;
}

.introduction p {
    width: 75%;
}

/***** HISTORY *****/

.history {
    background-image: url("../assets/images/stars-1920x1080.jpg");
    color: white;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.history p {
    font-size: 1.25rem;
}

.history h1 {
    padding-top: 1rem;
    font-size: 1.35rem;
}

.history img {
    width: 20rem;
}

.history div {
    width: 20rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 10rem 0rem 0rem;
}

.history div:nth-of-type(2) {
    align-self: flex-start;
    padding-right: 0rem;
    padding-left: 10rem;
}

.history div:last-of-type {
    padding-bottom: 3rem;
}

/***** CONCLUSION *****/

.conclusion {
    color: white;
    height: 100vh;
    background-image: url("../assets/images/moon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 5rem; 
}

.conclusion .logos{
    display: flex;
    align-items: center;
}

.conclusion .logos div:first-of-type{
    padding-right: 2rem;
}

.conclusion img {
    width: 30rem;
}

.conclusion p{
    padding: 2rem 2rem;
}

/***** VERTICAL LINE WITH CIRCLES *****/

.bar {
    border-left: 6px solid white;
    height: 275vh;
    position: absolute;
    left: 50vw;
    top: 80vh;
    transform: translateX(-3px);
}

.circle {
    background-color: white;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: absolute;
    left: 50vw;
    top: 80vh;
    transform: translate(-1rem, -1rem);
}

main .circle:nth-child(2) {
    top: 355vh;
}